{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!-- Aquí va el título y subtítulo, si requiere -->
<div class="container">
    <div class="row text-center">
        <!-- Título -->
        <h2>Carrito de compras</h2>
    </div>
    <div class="row text-center">
        <!-- Subtítulo -->
    </div>
</div>

<!-- Aquí va el contenido -->
<!-- Si no hay nada, se debe indicar que el carrito está vacío -->
<div class="container">
    <div class="items">

    </div>
    <div class="summary">
        
    </div>
</div>

{% endblock %}