{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<div class="px-5 my-5 text-center">
    <h2 class="display-5 fw-bold">Listado de productos</h2>
    <br>
    <a href="{% url 'agregar_producto' %}"><button type="button" class="btn btn-primary">Agregar producto</button></a>
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %} 
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <!-- Modificar y eliminar productos -->
                        <td>
                            <a href="{% url 'modificar_productos' producto.id %}"">Modificar</a>
                            <a href="{% url 'eliminar_productos' producto.id %}"">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}