{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
  <div class="p-5 mb-4 bg-transparent rounded-3">
      <div class="container-fluid py-6">
          <h1 class="display-5 fw-bold ">Quiénes somos</h1>
          <div class="row">
            <div class="col-6 ">
              <p class="col-md-7 fs-5">Fashion pet inició sus ventas por redes sociales, somos una organización preocupada po el cuidado de las mascotas, su alimentación y entretención.</p> <p class="col-md-7 fs-5">Gracias a la acetapcion po parte de nuestra clientela
                el año 2022 tomamos la decisión de afiliarnos con Adopta un Peludo, una organización si fines de lucro, su misión es entregar un hogar a cada uno de los animales que rescatan, tienen como objetivo brindarle amor, cuidado, alimentación
                y un hogar tempoal a estos aniamles los cuales esperaran por personas que les de un hogar definitivo.</p>
            </div>
              <div class="col-6">
                <div class="fontsucursal">
                <h1 class="display-5 fw-bold">Sucursal</h1>
              </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12779.869768866922!2d-73.0625728!3d-36.795331!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3fc32996839e6986!2sDuoc%20UC%3A%20Sede%20San%20Andr%C3%A9s%20De%20Concepci%C3%B3n!5e0!3m2!1ses!2scl!4v1649268822920!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
    </div>      

    {% endblock %}