<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="3" class="text-center">Carrito</th>
        </tr>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
                <tr class="text-center">
                    <td>{{value.nombre}}</td>
                    <td>{{value.cantidad}}

                        <a href="{% url 'carrito:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                        <a href="{% url 'carrito:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a>
                    </td>
                    <td>$ {{value.precio}}</td>
                </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-warning text-center">Carrito vacío</div>
            </td>
        </tr>
        {% endif %}
    </tbody>

    <tfoot>
        <tr class="text-center">
            <td colspan="3">
                <h6>Total: $ {{importe_total_carrito}}</h6>
                <br>
                <a href="{% url 'carrito:limpiar' %}" class="btn btn-primary">Limpiar</a>
            </td>
        </tr>
    </tfoot>
</table>